<%- include('partials/header.ejs') %>
<section id="about">
    <div class="about-content">
        <img src="images/profile.jpg" alt="Your Photo" width="200" height="300">
        <h2>About me</h2>
        <p>My name is Shivam and i am a international student doing software engineering - technician program from centennial college.I am hard working, dedicated, time - oriented and can adapt myself according to environment .
            I am skilled in planning, designing, developing, implementing, debugging and troubleshooting.
        </p>
        <a href="images/resume.pdf" download>Download Resume</a>

        
    </div>
</section>
<%- include('partials/footer.ejs') %>