<%- include('partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="style.css">
    
    
    

    <!-- Navigation Bar -->
     <nav>
       
        
            <a href="#index">Home</a> |
            <a href="about">About Me</a> | 
            <a href="projects">Projects</a> |
            <a href="services">Services</a> |
            <a href="contactus">Contact</a> |
        
    </nav> 

    <!-- Home Page -->
    <section id="home">
        <div class="welcome">
            <h1>Welcome to My Portfolio</h1>
            <p>Discover my skills and projects.</p>
        </div>
        <h2>My Mission</h2>
        <section id="main-content">
        <div class="mission-statement">
            
            <p>"I am committed to providing exceptional web development services that consistently surpass the expectations of my clients. My mission is to craft cutting-edge, user-centric web solutions that drive positive change and enhance the digital landscape. Through innovation, creativity, and unwavering dedication, I aim to empower businesses and individuals with the tools they need to thrive in the ever-evolving online world."</p>
        </div>
    </section>
        <div class="button">
            <a href="about"class="btn">Learn More About Me</a>
            
        </div>
    </section>
    
    

    
<%- include('partials/footer.ejs') %>