<%- include('partials/header.ejs') %>
<section id="services">
    <div class="services">
        <h2>Services Offered</h2>
        <ul>
            <li>General Programming</li>
            <li>Web Development</li>
            <li>Mobile Apps Development</li>
            <li>Front-End Development</li>
            <li>Website Design and Development</li>
            <li>UI/UX Design</li>
        </ul>
    </div>
</section>
<%- include('partials/footer.ejs') %>